SUPABASE_SECRET_KEY=
SUPABASE_SERVICE_ROLE_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_TOKEN_ENCRYPTION_KEY=
GOOGLE_SHEET_DATE_YEAR=
NEXT_PUBLIC_SITE_URL=


NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
GOOGLE_SPREADSHEET_ID=
GOOGLE_SHEET_NAME=
